<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:systemai="http://schemas.microsoft.com/appx/manifest/systemai/windows10"
  IgnorableNamespaces="uap rescap systemai">

  <Identity
    Name="38673Yurin.BinViewer"
    Publisher="CN=6DBA1DE5-9EA9-4313-BEA7-F315A6AEEB19"
    Version="1.1.48.0" />

  <mp:PhoneIdentity PhoneProductId="0fe0204f-ec11-44f6-9f8c-69f6d041f60c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>BinStudio — Fast HEX Editor &amp; Binary Viewer</DisplayName>
    <PublisherDisplayName>Yurin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26226.0" />
  </Dependencies>

  <Resources>
	  <Resource Language="en-US"/>
	  <Resource Language="ru-RU"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="Blazing fast HEX editor for huge files. RAM virtualization, smart search, data inspector, and auto .bak backup."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="binstudiofile">
					<uap:SupportedFileTypes>
						<!-- Регистрируем расширение .bin -->
						<uap:FileType>.bin</uap:FileType>
						<!-- Регистрируем расширение .hex -->
						<uap:FileType>.hex</uap:FileType>
					</uap:SupportedFileTypes>
					<uap:DisplayName>BinStudio Binary File</uap:DisplayName>
					<!-- Можно указать имя конкретного логотипа для иконки файла в Проводнике -->
					<uap:Logo>Assets\StoreLogo.png</uap:Logo>
				</uap:FileTypeAssociation>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <systemai:Capability Name="systemAIModels"/>
  </Capabilities>
</Package>
